:root {
    --header-bgc: #fde497;
    --header-color: #484949;
    --nav-hov-bgc: #FEEFC3;
    --font-color: #202124;
    --empty-logo: #5f6368b6;
    --logo-font-color: #484949;
    --non-focus: #FEEFC3;
    --icon-hover-bgc: #FEEFC3;
    --icon-color: #202124;
    --box-shadow: #fde497;
}

.header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-bgc);
    color: var(--header-color);
    padding: 0 2rem;
    box-shadow: 0 0 2px var(--font-color);
    position: sticky;
    top: 0;
    z-index: 9999;
}

.menu-bar {
    background-color: var(--header-bgc);
    color: var(--header-color);
    border: none;
    font-size: 2rem;
    padding: 5px;
    cursor: pointer;
}

.sidebar {
    display: flex;
}

.menu-bar:hover {
    background-color: var(--nav-hov-bgc);
    color: #202124;
}

.visible {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.menu {
    flex: 1;
}

.logo img {
    width: 50px;
}

.logo a {
    color: var(--header-color);
    text-decoration: none;
    font-weight: 650;
}

.nav-button.active{
    background-color: var(--nav-hov-bgc);
    color: var(--font-color);
}

.nav {
    flex-grow: 2;
    display: flex;
}

.nav a {
    text-decoration: none;
    margin: 1rem;
}

.nav-button {
    background-color: var(--header-bgc);
    color: var(--header-color);
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .2s;
}

.nav-button svg {
    font-size: 1.2rem;
    margin-right: 5px;
}

.nav-button:hover {
    background-color: var(--nav-hov-bgc);
    color: var(--font-color);
}

.main {
    margin-top: 3rem;
    margin-bottom: 5rem;
}

.notes-section {
    display: grid;
    grid-template-columns: repeat(3, 30vw);
    justify-content: center;
    gap: 20px;
}

.notes {
    height: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid var(--box-shadow);
}

.view-note {
    text-align: justify;
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
}

.notes:hover {
    box-shadow: 2px 2px 10px var(--box-shadow);
    transform: scale(1.01);
    transition: ease-in-out .2s;
}
.notes .note-title {
    border-bottom: 1px solid var(--header-bgc);
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.notes .note-body {
    margin-top: 10px;
    height: calc(5 * 1.05rem);
    padding: 5px;
    border-radius: 5px;
    font-size: 1.05rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}

.view-note .note-body {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.05rem;
    word-wrap: break-word;
}

.empty-section {
    padding-top: 8rem;
}

.empty-section .svg {
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;
    color: var(--empty-logo);
}

.empty-section .svg-hint {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
    color: var(--logo-font-color);
}


.content-section a {
    color: black;
    text-decoration: none;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.button-section {
    display: flex;
    flex-direction: row-reverse;
}

.button-groups {
    /* visibility: hidden; */
    margin-right: 10px;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: ease-in-out .2s;
    background-color: var(--nav-hov-bgc);
    color: var(--font-color);
}

.button-groups:hover {
    background-color: var(--header-bgc);
    color: var(--header-color);
}

.restore-button {
    font-size: 1.4rem;
}

.edit-button {
    padding: 0;
}

.edit-button a {
    display: block;
    align-content: center;
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.add-form,
.edit-form {
    display: grid;
    grid-template-columns: 80vw;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.title-input,
.edit-title {
    height: 2rem;
    width: 60vw;
    padding: 10px;
    font-size: 1.02rem;
    margin-bottom: .5rem;
    border-radius: 5px;
    border: 1px solid var(--box-shadow);
    transition: ease-in-out .2s;
}

.title-input:focus,
.body-input:focus,
.edit-title:focus,
.edit-body:focus {
    box-shadow: 1px 1px 5px var(--box-shadow);
    outline: none;
}
.body-input,
.edit-body {
    width: 60vw;
    min-height: 10rem;
    padding: 10px;
    resize: vertical;
    font-size: 1.02rem;
    font-family: Arial, sans-serif;
    margin-bottom: .5rem;
    border-radius: 5px;
    border: 1px solid var(--box-shadow);
}

.section-1 {
    width: 62vw;
    margin: auto;
}

.section-2 {
    width: 60.5vw;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}
.add-button,
.edit-submit-button,
.cancel-button {
    height: 2rem;
    width: 100px;
    border-radius: 5px;
    border: none;
    transition: ease-in-out .2s;
    background-color: var(--nav-hov-bgc);
    color: var(--font-color);
    font-size: 1.02rem;
    cursor: pointer;
}

.cancel-button:hover,
.add-button:hover,
.edit-submit-button:hover {
    background-color: var(--header-bgc);
    color: var(--header-color);
}

.cancel-button {
    margin-right: 1rem;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
}

.search-input {
    height: 1.5rem;
    width: 300px;
    padding: 10px;
    padding-left: 50px;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--non-focus);
}

.search-input:focus {
    background-color: #fff;
    outline: none;
    box-shadow: 1px 1px 5px var(--box-shadow);
}

.search {
    color: var(--icon-color);
    border: none;
    border-radius: 100%;
    position: absolute;
    left: 5px;
    padding: 3px;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--non-focus);
}

.search-button {
    color: var(--icon-color);
    border: none;
    border-radius: 100%;
    position: absolute;
    right: 10px;
    font-size: 1.3rem;
    padding: 3px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #fff; */
}

.search-button:hover {
    background-color: var(--icon-hover-bgc);
}

@media (max-width: 720px) {
    .notes-section {
        grid-template-columns: 80vw;
    }
    .add-form {
        grid-template-columns: 90vw;
        margin: 5vw;
        margin-top: 3rem;
    }
    .title-input,
    .body-input {
        width: 70vw;
    }
    .section-2,
    .section-1 {
        width: 75vw;
    }
    .logo {
        flex-grow: 0;
    }
}